@model NewsletterViewModel

<section id="@Model.Id" class="newsletter">
    <div class="container">
        <div class="content">
            <h1>@Model.Title</h1>
            <img src="@Model.Arrow.ImageUrl" alt="@Model.Arrow.AltText">
        </div>

        <form id="registerNewsletter" novalidate>
            <div class="choose-newsletter">
                <h5>Sign up for<br> Newsletters</h5>
                <div class="checkboxes">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Newsletter.DailyNewsletter" />
                        <label class="form-check-label" asp-for=Newsletter.DailyNewsletter></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Newsletter.AdvertisingUpdates" />
                        <label class="form-check-label" asp-for=Newsletter.AdvertisingUpdates></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Newsletter.WeekInReview" />
                        <label class="form-check-label" asp-for=Newsletter.WeekInReview></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Newsletter.EventUpdates" />
                        <label class="form-check-label" asp-for=Newsletter.EventUpdates></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Newsletter.StartupsWeekly" />
                        <label class="form-check-label" asp-for=Newsletter.StartupsWeekly></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Newsletter.Podcasts" />
                        <label class="form-check-label" asp-for=Newsletter.Podcasts></label>
                    </div>
                </div>
            </div>
            <div class="subscribe">
                <i class="fa-regular fa-envelope"></i>
                <span asp-validation-for="Newsletter.Email"></span>
                <input id="email" class="form-input" asp-for="Newsletter.Email" />
                <button id="form-submit" type="submit" class="btn-theme">@Model.Link.LinkText</button>
            </div>

            <p class="terms-and-privacy">* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy.</a></p>
        </form>
    </div>
</section>
