@model AccountDetailsViewModel
@{
    ViewData["Title"] = "Your Profile";
}

<div class="container">
    <section id="account-details">
        <aside>
            <div class="profile-info">
               @*  <img src="@Model.User.ProfileImage" alt="@($"{Model.User.FirstName} {Model.User.LastName}")" /> *@
                <h5>@($"{Model.User.FirstName} {Model.User.LastName}")</h5>
                <p>@Model.User.Email</p>
            </div>
            <nav>
                <a class="btn-theme-s" asp-controller="Account" asp-action="Details"><i class="fa-solid fa-gear"></i>Account Details</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-solid fa-lock"></i>Security</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-file"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-right-from-bracket"></i>Sign out</a>
            </nav>
        </aside>

        <div class="details">
            <section class="basic-info">
                <form method="post" asp-controller="Account" asp-action="BasicInfo">
                    <h2>Account Details</h2>
                    <h5>Basic Info</h5>

                    <div class="content">
                        <div id="form-firstname" class="input-group">
                            <label asp-for="User.FirstName"></label>
                            <span asp-validation-for="User.FirstName"></span>
                            <input asp-for="User.FirstName" />
                        </div>

                        <div id="form-lastname" class="input-group">
                            <label asp-for="User.LastName"></label>
                            <span asp-validation-for="@Model.User.LastName"></span>
                            <input asp-for="User.LastName" />
                        </div>

                        <div id="form-email" class="input-group">
                            <label asp-for="User.Email"></label>
                            <span asp-validation-for="User.Email"></span>
                            <input asp-for="User.Email" />
                        </div>

                        <div id="form-phone" class="input-group">
                            <label asp-for="User.PhoneNumber"></label>
                            <span asp-validation-for="User.PhoneNumber"></span>
                            <input asp-for="User.PhoneNumber" />
                        </div>

                        <div id="form-bio" class="input-group">
                            <label asp-for=User.Bio>Bio <span>(optional)</span></label>
                            <textarea asp-for="User.Bio" placeholder="Add a short bio..."></textarea>
                        </div>

                        <div id="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save changes</button>
                        </div>
                    </div>
                </form>
            </section>
            <hr />
            <section class="address-info">
                <form method="post" asp-controller="Account" asp-action="Details">
                    <h5>Address</h5>

                    <div class="content">
                        <div id="form-addressline-1" class="input-group">
                            <label asp-for="User.Address.AddressLine_1">Address line 1</label>
                            <span asp-validation-for="User.Address.AddressLine_1"></span>
                            <input asp-for="User.Address.AddressLine_1" placeholder="@((Model.User.Address != null) ? Model.User.Address.AddressLine_1 : "Enter your address line")" />
                        </div>

                        <div id="form-addressline-2" class="input-group">
                            <label asp-for="User.Address.AddressLine_2">Address line 2 <span>(optional)</span></label>
                            <span asp-validation-for="User.Address.AddressLine_2"></span>
                            <input asp-for="User.Address.AddressLine_2" placeholder="@((Model.User.Address != null) ? Model.User.Address.AddressLine_2 : "Enter second address line")" />
                        </div>

                        <div id="form-postalcode" class="input-group">
                            <label asp-for="User.Address.PostalCode"></label>
                            <span asp-validation-for="User.Address.PostalCode"></span>
                            <input asp-for="User.Address.PostalCode" placeholder="@((Model.User.Address != null) ? Model.User.Address.PostalCode : "Enter your postal code")" />
                        </div>

                        <div id="form-city" class="input-group">
                            <label asp-for="User.Address.City"></label>
                            <span asp-validation-for="User.Address.City"></span>
                            <input asp-for="User.Address.City" placeholder="@((Model.User.Address != null) ? Model.User.Address.City : "Enter your city")" />
                        </div>

                        <div id="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save changes</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>


@await Html.PartialAsync("_ValidationScriptPartial")