@model SavedCoursesViewModel

@{
    var user = await UserManager.GetUserAsync(User);
}

<section class="saved-courses">
    <div class="container">
        <aside>
            <div class="profile-info">
                <div class="image-profile">
                    @if (user != null && !string.IsNullOrEmpty(user.ProfileImage))
                    {
                        <img src="~/Images/@user.ProfileImage" alt="@($"{user.FirstName} {user.LastName}")" />
                    }
                    else
                    {
                        <img src="~/@Model.ProfileInfo!.ProfileImage" alt="@($"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}")" />
                    }
                    <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn-circle"><i class="fa-solid fa-arrows-rotate"></i></label>
                    </form>
                </div>
                <h5>@($"{Model.ProfileInfo!.FirstName} {Model.ProfileInfo.LastName}")</h5>
                <p>@Model.ProfileInfo.Email</p>
            </div>
            <nav>
                <a class="btn-transparent" asp-controller="Account" asp-action="Details"><i class="fa-solid fa-gear"></i>Account Details</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-solid fa-lock"></i>Security</a>
                <a class="btn-theme-s" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-file"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-right-from-bracket"></i>Sign out</a>
            </nav>
        </aside>
        <div class="box-savedcourses">
            <div class="saved-header">
                <h1>Saved items</h1>
                <a class="btn-gray" id="deleteAllBtn"><i class="fa-regular fa-trash-can"></i></i><span>Delete all</span></a>
            </div>
            <div class="courses-square">
                @if (Model.SavedCourses != null)
                {
                    foreach (var course in Model.SavedCourses)
                    {
                        <div class="grid-item" data-courseid="@course.Id">
                            <div class="overlay-content">
                                @if (course.IsBestSeller)
                                {
                                    <div class="text-top">Best Seller</div>
                                }
                                <a class="button-top" data-courseid="@course.Id" data-bs-toggle="tooltip" data-bs-title="Remove Course"><i class="fa-regular fa-bookmark"></i></a>
                            </div>
                            <img src="~/@course.ImageUrl" alt="Image of @course.Title">
                            <a asp-controller="Courses" asp-action="CourseDetails" asp-route-id="@course.Id">
                                <div class="text-info">
                                    <h5>@course.Title</h5>
                                    <p class="creator">By @course.Author</p>
                                    @if (!string.IsNullOrEmpty(course.DiscountPrice) && course.DiscountPrice != "0")
                                    {
                                        <p class="price discount">$@course.DiscountPrice <del>$@course.Price</del></p>
                                    }
                                    else
                                    {
                                        <p class="price">$@course.Price</p>
                                    }
                                    <div class="clock">
                                        <i class="fa-regular fa-clock"></i>
                                        <p>@course.Hours hours</p>
                                        <div class="thumbs-up">
                                            <i class="fa-regular fa-thumbs-up"></i>
                                            <p>@course.LikesInProcent% (@course.LikesInNumbers)</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div>No courses found!</div>
                }
            </div>
        </div>
    </div>
</section>