@model CourseDto

@{
    ViewData["Title"] = Model.Title;
}

<section class="singlecourseshowcase">
    <img src="~/@Model.ImageUrl" alt="Image of @Model.Title">
    @* <img src="~/Images/pcpicture.svg" alt="Image of @Model.Title"> *@
    <div class="container">
        <div class="header-singlecourse">
            <div class="action-buttons">
                <i class="fa-solid fa-house"></i>
                <a asp-action="Index" asp-controller="Home">Home</a>
                <i class="fa-solid fa-angles-right"></i>
                <a class="a-courses" asp-action="Course" asp-controller="Courses">Courses</a>
                <i class="fa-solid fa-angles-right"></i>
                <a class="a-developer" asp-action="CourseDetails" asp-controller="Courses">@Model.Title</a>
            </div>
            <div class="seller-square">
                @if (Model.IsBestSeller)
                {
                    <div class="green-box">
                        <p>Best Seller</p>
                    </div>
                }
                @if (Model.IsDigital)
                {
                    <div class="white-box">
                        <p>Digital</p>
                    </div>
                }
            </div>
            <div class="text-header">
                <h1>@Model.Title</h1>
                <p>Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
            </div>
            <div class="rating">
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>(4.2K reviews)</p>
                </div>
                <div class="rating-thumb">
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>@Model.LikesInNumbers likes</p>
                </div>
                <div class="rating-clock">
                    <i class="fa-regular fa-clock"></i>
                    <p>@Model.Hours hours</p>
                </div>
            </div>
            <div class="img-text">
                <img src="~/Images/roundimage.svg" alt="picture of albert flores">
                <div class="image-text-header">
                    <P class="bold-p">Created by</P>
                    <P class="p-normal">@Model.Author</P>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="description-course">
    <div class="container">
        <div class="description-header">
            <div class="singlecourse-header">
                <h1>Course Description</h1>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus <br>accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, <br>tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum <br>quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <div class="learn-what">
                    <h2>What you'll learn</h2>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>Sed lectus donec amet eu turpis interdum.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>Nulla at consectetur vitae dignissim porttitor.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>Phasellus id vitae dui aliquet mi.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i></i><p>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>In aenean dolor diam tortor orci eu.</p></span>
                </div>
            </div>
            <div class="singlecourse-box">
                <h4>This course includes:</h4>
                <span class="course-include"><i class="fa-solid fa-tv"></i><p>148 hours on-demand video</p></span>
                <span class="course-include"><i class="fa-regular fa-file"></i></i><p>18 articles</p></span>
                <span class="course-include"><i class="fa-solid fa-download"></i></i><p>25 downloadable resources</p></span>
                <span class="course-include"><i class="fa-regular fa-handshake"></i><p>Full lifetime access</p></span>
                <span class="course-include"><i class="fa-solid fa-trophy"></i></i><p>Certificate of completion</p></span>
                <div class="price-box">
                    <p class="discount-price">$28.99</p>
                    <p class="actual-price">$49.00</p>
                </div>
                <a class="btn-theme-s" href="#">Join course</a>
            </div>
        </div>
    </div>
</section>

<section class="program-details">
    <div class="container">
        <h1>Program Details</h1>
        <div class="number">
            <div class="circle"><p>1</p></div>
            <div class="square-text-details">
                <div class="circle-text">
                    <h4>Introduction. Getting started</h4>
                    <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                </div>
            </div>
        </div>
        <div class="number">
            <div class="circle"><p>2</p></div>
            <div class="square-text-details">
                <div class="circle-text">
                    <h4>The ultimate HTML developer: advanced HTML</h4>
                    <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                </div>
            </div>
        </div>
        <div class="number">
            <div class="circle"><p>3</p></div>
            <div class="square-text-details">
                <div class="circle-text">
                    <h4>CSS & CSS3: basic</h4>
                    <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                </div>
            </div>
        </div>
        <div class="number">
            <div class="circle"><p>4</p></div>
            <div class="square-text-details">
                <div class="circle-text">
                    <h4>JavaScript basics for beginners</h4>
                    <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                </div>
            </div>
        </div>
        <div class="number">
            <div class="circle"><p>5</p></div>
            <div class="square-text-details">
                <div class="circle-text">
                    <h4>Understanding APIs</h4>
                    <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                </div>
            </div>
        </div>
        <div class="number">
            <div class="circle"><p>6</p></div>
            <div class="square-text-details">
                <div class="circle-text">
                    <h4>C# and .NET from beginner to advanced</h4>
                    <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="albert-flores">
    <div class="container">
        <div class="albert-img-text">
            <img class="albert-pic" src="~/Images/albert-flores.svg" alt="picture of albert flores">
            <div class="albert-text">
                <p>Learn from the best</p>
                <h2>Albert Flores</h2>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis <br>malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta<br> sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in<br> tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque<br> faucibus amet, eleifend diam quam condimentum convallis ultricies <br>placerat. Duis habitasse placerat amet, odio pellentesque rhoncus,<br> feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="albert-buttons">
                    <a class="btn-theme-s" href="#"><i class="fa-brands fa-youtube"></i> 240k subscribers</a>
                    <a class="btn-gray" href="#"><i class="fa-brands fa-square-facebook"></i> 80k followers</a>
                </div>
            </div>
        </div>
    </div>
</section>